.quill-container {
    margin: 20px;
}

.ql-editor {
    min-height: 600px;
}

.notValid {
    text-align: center;
    font-size: 50px;
    color: #c12020;
}

.opt-container {
    border: 1px solid gray;
}

.s-btn {
    padding: 15px;
    margin: 0;
    border-radius: 0;
}

.s-btn:hover {
    transform: none;
}