.quill-container {
    margin: 20px;
}

.ql-editor {
    font-family: "Comic Sans MS", serif;
    min-height: 600px;
    height: 750px;
}

.ql-editor p {
    white-space: pre;
}

.notValid {
    text-align: center;
    font-size: 50px;
    color: #c12020;
}

.opt-container {
    border: 1px solid gray;
}

.s-btn {
    padding: 15px;
    margin: 0;
    border-radius: 0;
}

.s-btn:hover {
    transform: none;
}

/**/


.ql-picker.ql-font .ql-picker-label[data-value="comic"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="comic"]::before
{
    font-family: "Comic Sans MS", serif;
    content: "Comic Sans MS";
}


.ql-font-mirza {
    font-family: "Comic Sans MS", serif;
}