.navigation {
    background-color: black;
    padding: 10px 40px;
}

.navigation a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

.navigation a:hover {
    color: #949494;
}

.nav-right {
    float: right;
}