.title {
    text-align: center;
}

#url {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.err {
    background: #ffe6ee;
    border: 1px solid #b1395f;
}

.emsg {
    color: #c12020;
    font-weight: bold;
}

.s-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.wrapper {
    display: flex;
    background-color: #c1c1c1;
    border-radius: 20px;
}

.wrapper div {
    padding: 15px 40px;
}

.exSession {
    padding: 10px;
}

.newSession {
    background-color: #ccc;
    border-radius: 20px;
    padding: 10px 30px;
    float: right;
    right: 0;
    margin: 0 0 0 auto;
}

button {
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    border: none;
    margin: 5px;
    /*margin-bottom: 20px;*/
}

button {
    color: white;
    background-color: #546cbc;
}

button:hover {
    background-color: #203d9d;
    transform: scale(1.05, 1.05);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    width: 72px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.overlay {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: .9; /* in FireFox */
    filter: alpha(opacity=90); /* in IE */
}