.toolbar {
    width: 100%;
    padding: 15px;
    border: 3px solid #585858;
    border-bottom: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    text-align: center;
}

.toolbar button {
    padding: 0.5em;
    border-radius: 3px;
    border: 2px solid transparent;
}

.toolbar button:hover {
    border: 2px solid white;
}

.toolbar button:active {
    transform: scale(0.9, 0.9);
}

.toolbar img{
    width: 15px;
    height: 15px;
}

.toolbar select {

}

.toolbar input {
    width: 25px;
    margin: 0 10px 0 10px;
}

.codemirror {
    font-size: 1.5rem;
    width: 90%;
}

.fontSize {
    position:relative;
    background-color:black;
    color: black;
    border:solid grey 1px;
    width:60px;
    height:24px;
}

.fontSize select {
    background-color: transparent;
    position:absolute;
    top:0;
    left:0;
    font-size:14px;
    border:none;
    width:60px;
    margin:0;
}

.fontSize input {
    background-color: black;
    color: white;
    position:absolute;
    top:0;
    left:0;
    width:35px;
    font-size:12px;
    border:none;
}

.fontSize select:focus, .fontSize input:focus {
    outline:none;
}

@media (prefers-color-scheme: dark) {
    .toolbar img {
        filter: invert(1);
    }
}