.container {
  padding: 0 2rem;
}

.main {
  max-height: 10vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .card,
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  .btn__ctc,
  .shareIcon {
    filter: invert();
  }
}

.share {
  display: flex;
  align-items: center;
  border: white 2px solid;
  padding: 0 10px 0 20px;
}

.btn__ctc {
  height: 100%;
  background: transparent;
  margin-left: 10px;
  border: none;
  border-left: #111111 2px solid;
  padding: 10px 0 10px 10px;
}

.btn__ctc:hover {
  transform: scale(1.1, 1.1);
}

.btn__ctc:active {
  transform: scale(1);
}

.codemirror {
  font-size: 1.5rem;
}

.shareIcon:active + .shareText {
  display: block;
}

.shareIcon:hover {
  transform: scale(1.1, 1.1);
}

.shareText {
  display: none;
}